body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to bottom, #add8e6, #191970);
    /* Utilizamos linear-gradient para aplicar un degradado de azul claro a azul oscuro */
}

.btn, .btn2, .btn3, .btn4, .btn5, .btn6 {
    background-color: blue;
    display: inline-block;
    padding: 5px 15px;
    color: white;
    text-decoration: none;
    margin-top: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

.btn:hover, .btn2:hover, .btn3:hover, .btn4:hover, .btn5:hover, .btn6:hover {
    background-color: black;
}

p, h2 {
    color: white;
}

.contenedor {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
