body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(images/fondo.png) no-repeat center center fixed;
    /* Utilizamos la imagen de fondo y la centramos */
    background-size: auto 100%;
    /* Ajustamos el tamaño de la imagen para que se escale automáticamente según la altura del cuerpo */
    height: 100vh; /* Establecer la altura del body al 100% del viewport height */
}


.btn, .btn2, .btn3, .btn4, .btn5, .btn6, .btn7 {
    background-color: blue;
    display: inline-block;
    padding: 5px 15px;
    color: white;
    text-decoration: none;
    margin-top: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 30px;
}

.btn:hover, .btn2:hover, .btn3:hover, .btn4:hover, .btn5:hover, .btn6:hover, .btn7:hover {
    background-color: black;
}

p, h2 {
    color: white;
}

.contenedor {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

hr {
    border: 1px solid #ffffff; /* Establece el borde blanco */
    background-color: #ffffff; /* Fondo blanco */
    height: 0.1px; /* Altura del hr */
}